{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "import"
  ],

  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["warn", "single", "avoid-escape"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-underscore-dangle": "off",
    "eqeqeq": ["error", "smart"],
    "no-unused-expressions": "off",
    "new-cap" : "off",
    "no-mixed-requires": "off",
    "camelcase": ["error", {"properties": "never"}],
    "no-use-before-define": ["error", "nofunc"],
    "eol-last": ["error", "always"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "keyword-spacing": "error",
    "comma-style": "error",
    "no-trailing-spaces": "error",
    "space-before-function-paren": ["error", {"named": "never"}]
  },

  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "excludedFiles": ["src/**/__tests__/**"],
      "extends": [
        "plugin:compat/recommended"
      ],
      "rules": {
        "no-restricted-syntax": ["error", "ForOfStatement", "ForInStatement", "ArrayPattern"],
        "compat/compat": ["error", "defaults"],
        "no-throw-literal": "error",
        "import/no-default-export": "error",
        "import/no-self-import": "error",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      },
      "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module"
      }
    },
    {
      "files": ["types/**"],
      "rules": {
        "no-use-before-define": "off",
        "no-undef": "off" // turned off to avoid issue with SplitIO namespace not defined
      }
    },
    {
      // Enable TSDoc rules for TypeScript files, allowing the use of JSDoc in JS files.
      "files": ["**/*.ts"],
      "rules": {
        "tsdoc/syntax": "warn"
      }
    }
  ],

  "settings": {
    "polyfills": [
      "Promise" // required as a polyfill by the user
    ]
  }
}
